footer {
    position: fixed;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 64px;
    background: #fff;
	-webkit-box-shadow: 0 0px 4px 0 rgba(0,0,0,0.4);
    box-shadow: 0 0px 4px 0 rgba(0,0,0,0.4);
}
footer .wrap {
	padding: 8px;
    height: 52px;
    display: block;
}
footer .now {
    background: #000;
    display: block;
    width: 52px;
    height: 52px;
    float: left;
    margin-right: 8px;
}
footer .play {
    /* background: #000; */
    display: block;
    width: 52px;
    height: 52px;
    float: right;
    margin-left: 8px;
	    font-size: 43px;
    text-align: center;
}
footer .track {
    width: calc(100% - 150px);
    float: left;
}
footer .artist {
    color: rgba(0,0,0,0.60);
    font-size: 0.85em;
}
footer .song {
    font-size: 1.1em;
    margin-top: 0.15em;
    margin-bottom: 0.2em;
}

#stream {
    position: fixed;
    bottom: 0;
    width: 0;
    height: 0 !important;
    display: none;
}


.trackinfo {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
}
.trackinfo .img {
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}