@import './util'
@import './global'
@import './material-shadow'
@import './page'
@import './switch'
@import './range'
@import './navigation-bar'
@import './button'
@import './button-bar'
@import './tab-bar'
@import './notification'
@import './toolbar-button'
@import './checkbox'
@import './radio-button'
@import './list'
@import './search-input'
@import './text-input'
@import './textarea'
@import './dialog'
@import './alert-dialog'
@import './popover'
@import './modal'
@import './progress-bar'
@import './progress-circular'
@import './fab'


.alb {
	width: 100%;
	display: block;
	height: 60vh;
	background-position: 50%;
	background-size: cover;
}
#playinfo {
	text-align: center;
	margin: 0 auto;
	margin: auto;
	vertical-align: top;
	display: table-cell;
	margin-top: 0;
	padding-top: 0;
}

#now .a {
	font-size: 0.8em;
	font-weight: 100;
}
#now .b {
	font-weight: 400;
	font-size: 0.8em;
}

#play {
	color: #fff;
	width: 3em;
	/* height: 1em; */
	position: relative;
	margin: 0 auto;
	text-align: center;
	font-size: 3.5em;
}

#LoadStream{
	position: absolute;
	bottom: 0;
}
div#LoadAlbImg {
	position: absolute;
	bottom: 0;
}

#playinfoimg {
	position: relative;
}

.navigation-bar__center .song{
	margin: 0;
	padding: 0;
	line-height: 1em;
	text-align: left;
	margin-top: 7px;
	font-size: 20px;
	font-weight: 300;
}
.navigation-bar__center .artist{
	margin: 0;
	padding: 0;
	line-height: 1em;
	text-align: left;
	margin-top: 4px;
	font-size: 15px;
	font-weight: 100;
}

.navigation-bar__right i{
	vertical-align: sub;
}